{{ template "base" . }}

{{ define "title" }} RPS web - About {{ end }}

{{ define "content" }}

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">Acerca de John Stiven</h2>
                <p>El desarrollo web es el proceso de crear, diseñar y mantener sitios y aplicaciones web. Involucra
                    dos áreas principales: el **frontend**, que se enfoca en la interfaz de usuario y la experiencia del
                    cliente, utilizando tecnologías como HTML, CSS y JavaScript; y el **backend**, que gestiona la
                    lógica del servidor, las bases de datos y la funcionalidad detrás de escena, con lenguajes como
                    Python, Ruby, PHP, Go o Node.js. Además, el desarrollo web moderno incluye el uso de frameworks y
                    herramientas como React, Angular, Django o Laravel, que agilizan el proceso y mejoran la eficiencia.
                    Con el auge de las aplicaciones web progresivas (PWAs) y las arquitecturas de microservicios, el
                    desarrollo web sigue evolucionando para ofrecer experiencias más rápidas, seguras y escalables.</p>
            </div>
        </div>
    </div>
</section>

{{ end }}